<include file="Common:header" title="SEO设置"/>
{:W('AdminSidebar')}
<!--main-container-part-->

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="__GROUP__" title="管理首页" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">

        <!--End-Action boxes-->
        <!--Chart-box-->
        <div class="row-fluid">
            <div class="widget-box">
                <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
                    <h5>网站信息</h5>
                </div>
                <div class="widget-content">
                    <div class="row-fluid">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-main-container-part-->

<include file="Common:footer"/>