<include file="Common:header" title="文章列表"/>
{~W('Cate/Sidebar')}

<!--main-container-part-->
<script type="text/javascript">

    function checkAll() {
        var checkItems = document.getElementsByName("articleID");
        for (var i = 0; i < checkItems.length; i++) {
            checkItems[i].checked = "checked";
        }
    }
    function checkAllNo() {
        var checkItems = document.getElementsByName("articleID");
        for (var i = 0; i < checkItems.length; i++) {
            checkItems[i].checked = null;
        }
    }
    function checkAllRevsern() {
        var checkItems = document.getElementsByName("articleID");
        for (var i = 0; i < checkItems.length; i++) {
            if (checkItems[i].checked) {
                checkItems[i].checked = null;
            } else {
                checkItems[i].checked = "checked";
            }
        }
    }
    function checkboxAllRevsern() {
        var checkItems = document.getElementsByName("articleID");
        var checkboxAllRevsernElement = document.getElementById("checkboxAllRevsern");
        for (var i = 0; i < checkItems.length; i++) {
            if (checkboxAllRevsernElement.checked) {
                checkItems[i].checked = "chenked";
            } else {
                checkItems[i].checked = null;
            }
        }
    }
</script>
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="__GROUP__" title="管理首页" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                <h5>文章列表</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped with-check data-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="center">ID</th>
                        <th style="max-width: 20%;">标题</th>
                        <th>分类</th>
                        <th field="date">更新时间</th>
                        <th field="author">作者</th>
                        <th field="status">状态</th>
                        <th field="operation">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="cList" id="cList">
                        <tr>
                            <td class="selected frist"><input type="checkbox" name="articleID" id="{$cList.id}"/>
                            </td>
                            <td class="center">{$cList.id}</td>
                            <td style="max-width:300px;overflow: hidden;white-space:nowrap; text-overflow:ellipsis;">
                                <a title="{$cList.title}" href="{:U('/Article/'.$cList['router'])}"
                                   target="_blank">{$cList.title}</a>
                            </td>
                            <td>{$cList.category_name}</td>
                            <td>{$cList.update_time|date="Y-m-d H:i:s",###}</td>
                            <td>{$cList.author}</td>
                            <td>
                                <if condition="$cList.status eq 1"><a onclick="switchStatus({$cList['id']},this)"
                                                                      href="#" title="点击切换状态">发布</a>
                                    <else/>
                                    <a onclick="switchStatus({$cList['id']},this)" href="#" title="点击切换状态"> 存稿</a>
                                </if>
                            </td>
                            <td>
                                <a href="{:U('Content/edit','type=article','php')}?id={$cList['id']}"
                                   target="_blank">编辑</a>|<a onclick="recycle({$cList['id']},this)" href="#"
                                                             title="移动到回收站">回收站</a>
                        </tr>
                    </volist>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <div>
                <span class="icon">
            <input type="checkbox" id="title-checkbox" name="title-checkbox"/>
            </span>
                <button class="btn btn-primary" id="checkAll">全选</button>
                <button id="checkAllNo" class="btn btn-primary">全不选</button>
                <button id="checkAllRevsern" class="btn btn-primary">反选</button>
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary  dropdown-toggle">操作 <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="BatchRecycle()">移入回收站</a></li>
                        <li><a href="#">删除</a></li>
                        <li><a href="#">移动</a></li>
                        <li class="divider"></li>
                        <li><a href="#">改变状态</a></li>
                        <li class="divider"></li>

                    </ul>
                </div>
                <a class="btn btn-primary" href="{:U('Content/edit','','php')}?type=article&action=add">添加文章</a>
            </div>
        </div>
    </div>
    <!-- end content -->
</div>

<script type="text/javascript">
    $(document).ready()
    {
        function switchStatus(id, obj) {
            if ($(obj).text() === "发布") {
                status = 0;
            } else {
                status = 1;
            }
            $.ajax({
                url: "{:U('Content/setStatus','','php')}&id=" + id + "&status=" + status,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        $(obj).text('发布');
                    } else {
                        $(obj).text('存稿');
                    }
                },
                error: function () {
                    $.gritter.add({
                        title: '消息',
                        text: "删除失败！",
                        sticky: false
                    });
                }
            });
        }

        function BatchRecycle() {
            var checkedList = new Array();
            $("input[name='articleID']:checked").each(function () {
                checkedList.push($(this).attr("id"));
            });
            obj = $("input[name='articleID']:checked");
            recycle(encodeURI(checkedList), obj);
        }

        function recycle(id, obj) {
            $.ajax({
                url: "{:U('Content/setStatus','','php')}&status=-1&id=" + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $(obj).parent().parent().remove();
                },
                error: function () {
                    $.gritter.add({
                        title: '消息',
                        text: "删除失败！",
                        sticky: false
                    });
                }
            });
        }
    }
</script>
<script src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/Admin/js/matrix.tables.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
<script src="__PUBLIC__/Admin/js/select2.min.js"></script>
<include file="Common:footer"/>