<include file="Common:header" title="{$article.title}文章编辑"/>
{~W('Cate/Sidebar')}


<script type="text/javascript">
    window.UEDITOR_HOME_URL = "__PUBLIC__/Ueditor/";
    window.onload = function () {
        window.UEDITOR_CONFIG.savePath = ['Uploads/'];
        window.UEDITOR_CONFIG.imagePath = '__ROOT__/Uploads/';
        window.UEDITOR_CONFIG.filePath = '__ROOT__/Uploads/';
        window.UEDITOR_CONFIG.imageManagerPath = "__ROOT__/Uploads/";
        //实例化编辑器
        var ue = new UE.ui.Editor({initialFrameHeight: 300, initialFrameWidth: 950});
        ue.render("editor");
        ue.addListener('ready', function () {
            this.focus()
        });
    }
</script>
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Scripts/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Scripts/Validform_v5.3.2_min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/Validform.css" type="text/css" media="all"/>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="后台首页" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="current">文章管理</a>
            <a href="#" class="current">文章编辑</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
                        <h5>文章编辑</h5>
                    </div>
                    <div class="widget-content">
                        <form name="articleEdit" id="articleEdit" method="post"
                              action="{:U('Content/go','','php')}?Type=Article">
                            <table id="contentEdit" border="1" style="border: #eeeeee;">
                                <tr>
                                    <th class="first">
                                        标题:
                                    </th>
                                    <td><input type="text" name="info[title]"
                                               class="span8  m-wrap" placeholder="请输入标题" value="{$data.title}">

                                    </td>
                                </tr>
                                <tr>
                                    <th class="first">路由：</th>
                                    <td><input type="text" name="info[router]" class="span8  m-wrap"
                                               value="{$data.router}"/></td>
                                </tr>
                                <tr>
                                    <th class="first">关键字：</th>
                                    <td><input type="text" name="info[keywords]" class="span8  m-wrap"
                                               placeholder="请输入SEO关键字" value="{$data.keywords}"/></td>
                                </tr>

                                <tr>
                                    <th class="first">简介：</th>
                                    <td><textarea name="info[description]" placeholder="请输入简介" class="span8">{$data.description}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th>内容:</th>
                                    <td>
                                        <script type="text/plain" id="editor" name="info[content]">
                                            {$data.content}


                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <th>频道：</th>
                                    <td><select name="info[category_id]" class="span2">
                                        <volist name="category" id="category">
                                            <option value="{$category.id}">{$category.title}</option>
                                            <volist name="category['_child']" id="category_child" key="io">
                                                <option value="{$category_child.id}">└{$category_child.title}
                                                </option>
                                                <volist name="category_child['_child']" id="category_child3" key="ioo">
                                                    <option value="{$category_child3.id}">└{$category_child3.title}
                                                    </option>
                                                </volist>
                                            </volist>
                                        </volist></td>
                                </tr>

                                <tr>
                                    <th>状态：</th>
                                    <td>
                                        <select name="info[status]" class="span2">
                                            <option value="1">发布</option>
                                            <option value="0">存档</option>
                                        </select></td>
                                </tr>

                                <tr>
                                    <th>更新时间：
                                    </th>
                                    <td>
                                        <div class="controls">
                                            <div data-date="12-02-2014" class="input-append date datepicker">
                                                <input type="text" value="" data-date-format="yyyy/mm/dd"
                                                       class="span11">
                                                <span class="add-on"><i class="icon-th"></i></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="hidden" name="id" value="{$id}"/>
                                        <!--<input type="hidden" name="info[template]" value="article"/> -->
                                        <input type="submit" class="btn btn-success" value="提交内容">

                                        <div id="output" style="padding-right:10px;float: right"></div>
                                </tr>
                            </table>

                            <div id="output"></div>
                            <script>
                                $(function () {
                                    $("#articleEdit").Validform({
                                        tiptype: 3,
                                    });
                                    $("#articleEdit").ajaxForm({
                                        target: '#output',
                                        dataType: 'json',
                                        success: processJson,
                                        error: function () {
                                            alert('访问错误!');
                                        }
                                    });
                                });
                                function processJson(data) {
                                    $("input[name='id']").attr("value", data.id);
                                    $("input[name='info[router]']").attr("value", data.router);
                                    $('#output').fadeIn('slow').html('<p>提交时间：' + data.time + ',文章ID:' + data.id + ',文章链接：<a href=\"' + data.url + '\">' + data.title + '</a></p>');
                                }

                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script>
<include file="Common:footer"/>