<include file="Common:header" title="首页"/> {~W('Cate/Sidebar')}
<!--main-container-part-->
<style type="text/css">
    <!--
    table {
        width: 100%;
        clear: both;
        padding: 0;
        margin: 0 0 10px;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th {
        padding: 3px 6px;
        font-weight: bold;
        background: #dedede;
        color: #626262;
        border: 1px solid #cccccc;
        text-align: left;
    }

    tr {
        padding: 0;
        background: #FFFFFF;
    }

    td {
        padding: 3px 6px;
        border: 1px solid #CCCCCC;
    }

    -->
</style>

<script>
    $(document).ready(
            $.ajax({
                url: '__GROUP__/Msg/unReadCount.php',
                type: 'GET',
                dataType: 'json',
                timeout: 100,
                success: function (msg) {
                    //alert(msg.info);
                    if (msg.data > 0) {
                        $('#UnReadMsgCount').text(msg.data);
                        $.gritter.add({
                            title: '消息',
                            text: "<a href=\"{:U('Msg/index')}\">你有" + msg.data + "条未读消息。</a>",
                            image: '__PUBLIC__/Static/Admin/img/envelope.png',
                            sticky: false
                        });
                    }

                }
            })
    );
</script>

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="管理首页" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title bg_ly" data-toggle="collapse" href="#collapseG2"><span class="icon"><i
                            class="icon-chevron-down"></i></span>
                        <h5>最新消息</h5>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row-fluid">
            <div class="widget-box">
                <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
                    <h5>服务器信息</h5>
                    <h5 style="float:right"><a href="__APP__/tz.php">更多</a></h5></div>
                <div class="widget-content">
                    <table border="0" cellspacing="1" cellpadding="0">
                        <tbody>
                        <tr>
                            <th>函数</th>
                            <th>参数</th>
                        </tr>

                        <tr>
                            <td>$Think.version/框架版本号</td>
                            <td>{$Think.version}</td>
                        </tr>
                        <tr>
                            <td>$Think.now/当前时间</td>
                            <td>{$Think.now}</td>
                        </tr>
                        <tr>
                            <td>$Think.template/获取当前模板</td>
                            <td>{$Think.template}</td>
                        </tr>
                        <tr>
                            <td>$Think.ldelim/模板左界定符</td>
                            <td>{$Think.ldelim}</td>
                        </tr>
                        <tr>
                            <td>$Think.rdelim/模板右界定符</td>
                            <td>{$Think.rdelim}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <tr>
                            <th colspan="4">服务器参数</th>
                        </tr>
                        <tr>
                            <td style="word-break:keep-all;white-space:nowrap;">服务器域名/IP地址</td>
                            <td colspan="3">
                                <php> echo @get_current_user();</php>
                                -
                                <php> echo $_SERVER['SERVER_NAME'];</php>
                                (
                                <php> if('/'==DIRECTORY_SEPARATOR){echo $_SERVER['SERVER_ADDR'];}else{echo
                                    @gethostbyname($_SERVER['SERVER_NAME']);}
                                </php>
                                )&nbsp;&nbsp;你的IP地址是：
                                <php> echo @$_SERVER['REMOTE_ADDR'];</php>
                            </td>
                        </tr>
                        <tr>
                            <td>服务器标识</td>
                            <td colspan="3">
                                <php> if($sysInfo['win_n'] != ''){echo $sysInfo['win_n'];}else{echo @php_uname();};
                                </php>
                            </td>
                        </tr>
                        <tr>
                            <td width="15%">服务器操作系统</td>
                            <td width="37%">
                                <php> $os = explode(" ", php_uname()); echo $os[0];</php>
                                &nbsp;内核版本：
                                <php> if('/'==DIRECTORY_SEPARATOR){echo $os[2];}else{echo $os[1];}</php>
                            </td>
                            <td width="15%">服务器解译引擎</td>
                            <td width="37%">
                                <php> echo $_SERVER['SERVER_SOFTWARE'];</php>
                            </td>
                        </tr>
                        <tr>
                            <td>服务器语言</td>
                            <td>
                                <php> echo getenv("HTTP_ACCEPT_LANGUAGE");</php>
                            </td>
                            <td>服务器端口</td>
                            <td>
                                <php> echo $_SERVER['SERVER_PORT'];</php>
                            </td>
                        </tr>
                        <tr>
                            <td>服务器主机名</td>
                            <td>
                                <php> if('/'==DIRECTORY_SEPARATOR ){echo $os[1];}else{echo $os[2];}</php>
                            </td>
                            <td>绝对路径</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>管理员邮箱</td>
                            <td>
                                <php> echo $_SERVER['SERVER_ADMIN'];</php>
                            </td>
                            <td>探针路径</td>
                            <td></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th colspan="4">PHP相关参数</th>
                        </tr>
                        <tr>
                            <td width="32%">PHP信息（phpinfo）：</td>
                            <td width="18%">
                                <php> $phpSelf = $_SERVER[PHP_SELF] ? $_SERVER[PHP_SELF] : $_SERVER[SCRIPT_NAME];

                                    $disFuns=get_cfg_var("disable_functions");
                                </php>
                                <php> echo (false!==eregi("phpinfo",$disFuns))? '<font color="red">×</font>' :"<a
                                        href='$phpSelf?act=phpinfo' target='_blank'>PHPINFO</a>";
                                </php>
                            </td>
                            <td width="32%">PHP版本（php_version）：</td>
                            <td width="18%">
                                <php> echo PHP_VERSION;</php>
                            </td>
                        </tr>
                        <tr>
                            <td>PHP运行方式：</td>
                            <td>
                                <php> echo strtoupper(php_sapi_name());</php>
                            </td>
                            <td>脚本占用最大内存（memory_limit）：</td>
                            <td>
                                <php> echo show("memory_limit");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>PHP安全模式（safe_mode）：</td>
                            <td>
                                <php> echo show("safe_mode");</php>
                            </td>
                            <td>POST方法提交最大限制（post_max_size）：</td>
                            <td>
                                <php> echo show("post_max_size");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>上传文件最大限制（upload_max_filesize）：</td>
                            <td>
                                <php> echo show("upload_max_filesize");</php>
                            </td>
                            <td>浮点型数据显示的有效位数（precision）：</td>
                            <td>
                                <php> echo show("precision");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>脚本超时时间（max_execution_time）：</td>
                            <td>
                                <php> echo show("max_execution_time");</php>
                                秒
                            </td>
                            <td>socket超时时间（default_socket_timeout）：</td>
                            <td>
                                <php> echo show("default_socket_timeout");</php>
                                秒
                            </td>
                        </tr>
                        <tr>
                            <td>PHP页面根目录（doc_root）：</td>
                            <td>
                                <php> echo show("doc_root");</php>
                            </td>
                            <td>用户根目录（user_dir）：</td>
                            <td>
                                <php> echo show("user_dir");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>dl()函数（enable_dl）：</td>
                            <td>
                                <php> echo show("enable_dl");</php>
                            </td>
                            <td>指定包含文件目录（include_path）：</td>
                            <td>
                                <php> echo show("include_path");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>显示错误信息（display_errors）：</td>
                            <td>
                                <php> echo show("display_errors");</php>
                            </td>
                            <td>自定义全局变量（register_globals）：</td>
                            <td>
                                <php> echo show("register_globals");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>数据反斜杠转义（magic_quotes_gpc）：</td>
                            <td>
                                <php> echo show("magic_quotes_gpc");</php>
                            </td>
                            <td>"&lt;?...?&gt;"短标签（short_open_tag）：</td>
                            <td>
                                <php> echo show("short_open_tag");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>"&lt;% %&gt;"ASP风格标记（asp_tags）：</td>
                            <td>
                                <php> echo show("asp_tags");</php>
                            </td>
                            <td>忽略重复错误信息（ignore_repeated_errors）：</td>
                            <td>
                                <php> echo show("ignore_repeated_errors");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>忽略重复的错误源（ignore_repeated_source）：</td>
                            <td>
                                <php> echo show("ignore_repeated_source");</php>
                            </td>
                            <td>报告内存泄漏（report_memleaks）：</td>
                            <td>
                                <php> echo show("report_memleaks");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>自动字符串转义（magic_quotes_gpc）：</td>
                            <td>
                                <php> echo show("magic_quotes_gpc");</php>
                            </td>
                            <td>外部字符串自动转义（magic_quotes_runtime）：</td>
                            <td>
                                <php> echo show("magic_quotes_runtime");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>打开远程文件（allow_url_fopen）：</td>
                            <td>
                                <php> echo show("allow_url_fopen");</php>
                            </td>
                            <td>声明argv和argc变量（register_argc_argv）：</td>
                            <td>
                                <php> echo show("register_argc_argv");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>Cookie 支持：</td>
                            <td>
                                <php> echo isset($_COOKIE)?'<font color="green">√</font>' : '<font color="red">×</font>';
                                </php>
                            </td>
                            <td>拼写检查（ASpell Library）：</td>
                            <td>
                                <php> echo isfun("aspell_check_raw");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>高精度数学运算（BCMath）：</td>
                            <td>
                                <php> echo isfun("bcadd");</php>
                            </td>
                            <td>PREL相容语法（PCRE）：</td>
                            <td>
                                <php> echo isfun("preg_match");</php>
                            </td>
                        <tr>
                            <td>PDF文档支持：</td>
                            <td>
                                <php> echo isfun("pdf_close");</php>
                            </td>
                            <td>SNMP网络管理协议：</td>
                            <td>
                                <php> echo isfun("snmpget");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>VMailMgr邮件处理：</td>
                            <td>
                                <php> echo isfun("vm_adduser");</php>
                            </td>
                            <td>Curl支持：</td>
                            <td>
                                <php> echo isfun("curl_init");</php>
                            </td>
                        </tr>
                        <tr>
                            <td>SMTP支持：</td>
                            <td>
                                <php> echo get_cfg_var("SMTP")?'<font color="green">√</font>' : '<font
                                        color="red">×</font>';
                                </php>
                            </td>
                            <td>SMTP地址：</td>
                            <td>
                                <php> echo get_cfg_var("SMTP")?get_cfg_var("SMTP"):'<font color="red">×</font>';</php>
                            </td>
                        </tr>
                        <tr>
                            <td>默认支持函数（enable_functions）：</td>
                            <td colspan="3"><a href='<php> echo $phpSelf;</php>?act=Function' target='_blank'
                                               class='static'>请点这里查看详细！</a></td>
                        </tr>
                        <tr>
                            <td>被禁用的函数（disable_functions）：</td>
                            <td colspan="3" class="word">
                                <php> $disFuns=get_cfg_var("disable_functions");
                                    if(empty($disFuns))
                                    {
                                    echo '<font color=red>×</font>';
                                    }
                                    else
                                    {
                                    //echo $disFuns;
                                    $disFuns_array = explode(',',$disFuns);
                                    foreach ($disFuns_array as $key=>$value)
                                    {
                                    if ($key!=0 && $key%5==0) {
                                    echo '<br/>
                                    ';
                                    }
                                    echo "$value&nbsp;&nbsp;";
                                    }
                                    }
                                </php>
                            </td>
                        </tr>
                    </table>
                    <php> function show($varName)
                        {

                        switch($result = get_cfg_var($varName))
                        {

                        case 0:

                        return '<font color="red">×</font>';

                        break;


                        case 1:

                        return '<font color="green">√</font>';

                        break;


                        default:

                        return $result;

                        break;

                        }

                        }
                        function isfun($funName = '')
                        {

                        if (!$funName || trim($funName) == '' || preg_match('~[^a-z0-9\_]+~i', $funName, $tmp)) return
                        '错误';

                        return (false !== function_exists($funName)) ? '<font color="green">√</font>' : '<font
                                color="red">×</font>';
                        }
                        function isfun1($funName = '')
                        {
                        if (!$funName || trim($funName) == '' || preg_match('~[^a-z0-9\_]+~i', $funName, $tmp)) return
                        '错误';
                        return (false !== function_exists($funName)) ? '√' : '×';
                        }
                    </php>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-main-container-part-->

<include file="Common:footer"/>