<!--Footer-part-->

<div class="row-fluid">
    <div id="footer" class="span12"> 2013-2014 &copy; Woniu CMS</div>
</div>

<!--end-Footer-part-->
<script src="__PUBLIC__/Admin/js/matrix.js"></script>
<script src="__PUBLIC__/Admin/js/masked.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.uniform.js"></script>
<script src="__PUBLIC__/Admin/js/select2.min.js"></script>
<script src="__PUBLIC__/Admin/js/matrix.form_common.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.peity.min.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap-colorpicker.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.toggle.buttons.html"></script>
</body>
</html>