<include file="Common:header" title="广告列表"/>{:W('AdminSidebar')}

<!--main-container-part-->

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="__GROUP__" title="管理首页" class="tip-bottom"><i class="icon-home"></i>首页</a><a
                href="#" class="current">广告列表</a></div>
    </div>
    <!--End-breadcrumbs-->
    <!-- content / right -->
    <div class="container-fluid"></div>
    <!-- end content / right -->
</div>
<!-- end content -->
<include file="Common:footer"/>